<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
<link rel="stylesheet" href="/css/main.css" type="text/css" />
<link href="atom.xml" type="application/atom+xml" rel="alternate" title="Railsonfire Atom Feed" />
<head>
<title>{{ page.title }}</title>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">// <![CDATA[
 {lang: 'en'}
 // ]]></script>
 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21192046-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<div class="container">
<div id="navigation" class="span-24 last"></div>
<div id="header" class="span-24 last">
  <a href="/" class="span-20">
    <img src="/images/blog_logo.png"/>
  </a>
  <a href="http://feeds.feedburner.com/Railsonfire" id="rss" class="span-4 last">
    <img src="/images/rss.png"/>
  </a>
</div>
<div id="main" class="span-24 last">
<div id="content" class="span-15">
{{ content }}
</div>
<div id="about" class="span-9 last">
  <div id="description" class="span-9 last">
    <h3 class="span-9 last">About</h3>
      <img src="/images/avatar.png"/>
      <p >Railsonfire provides simple Continuous Integration for Ruby Apps in the Cloud. On every push to GitHub we test your code.</p>
    </div>
  <div id="tweets" class="span-9 last">
  <h3>Latest Tweets</h3>
  <a href="http://twitter.com/railsonfire" class="twitter-follow-button">Follow @railsonfire</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 5,
  interval: 6000,
  width: 'auto',
  height: 410,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#000000'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#0066cc'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('railsonfire').start();
</script>
  </div>
</div>
</div>
</body>
</html>