<!DOCTYPE html>
<html>
<!-- Looking at our Code? If you find an error send an email to ideserveabeer@railsonfire.com -->
<head>
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}"/>
<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
<link rel="stylesheet" href="/css/main.css" type="text/css" />
<link href="atom.xml" type="application/atom+xml" rel="alternate" title="Railsonfire Atom Feed" />
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">// <![CDATA[
 {lang: 'en'}
 // ]]></script>
 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21192046-1']);
  _gaq.push(['_setDomainName', 'blog.railsonfire.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","2a4c0769c2bbd217ad110763246d9137"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
</script><!-- end Mixpanel -->
<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>
<div class="container">
<div id="navigation" class="span-24 last"></div>
<div id="header" class="span-24 last">
  <a href="/" class="span-14">
    <img src="/images/blog_logo.png"/>
  </a>
</div>
<div id="main" class="span-24 last">
<div id="content" class="span-15">
{{ content }}
</div>
<div  id="about" class="span-9 last">
    <div class="span-9 last about_header">
      <h3 class="span-7">About</h3>
      <a href="http://feeds.feedburner.com/Railsonfire" id="rss" class="span-2 last">
        <img src="/images/rss.png"/>
      </a>
    </div>
    <div class="span-9 last" id="about_content">
      <a href="http://railsonfire.com">
        <img src="/images/avatar.png"/>
        <p >We provide Continuous Integration and Continuous Deployment for Ruby code hosted on GitHub/Heroku. Stop wasting time and money maintaining your own server.</p>
      </a>
    </div>
  <div id="tweets" class="span-9 last">
  <h3 class="about_header">Latest Tweets</h3>
  <a href="http://twitter.com/railsonfire" class="twitter-follow-button">Follow @railsonfire</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 3,
  interval: 6000,
  width: 'auto',
  height: 200,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#000000'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#0066cc'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('railsonfire').start();
</script>
  </div>
  <a href="http://www.railsonfire.com/?utm_source=blog&utm_medium=banner&utm_campaign=banner" target="_blank" class="banner"><img src="/images/rof-banner1.gif" alt="Railsonfire Banner"/></a>
</div>
{% assign url = "http://railsonfire.com" %}
<div id="footer" class="span-24 last">
         <div class="span-7">
           <h3>Service</h3>
           <ul>
             <li><a href="{{ url }}">How it works</a></li>
             <li><a href="{{ url }}/pricing">Pricing</a></li>
             <li><a href="https://railsonfire.tenderapp.com/kb" target="_blank">Frequently asked Questions</a></li>
             <li><a href="#" id="tender-support-link-bottom">Support</a></li>
           </ul>
         </div>
         <div class="span-6">
           <h3>About</h3>
           <ul>
             <li><a href="http://blog.railsonfire.com" target="_blank">Blog</a></li>
             <li><a href="{{ url }}/team">Team</a></li>
             <li><a href="{{ url }}/contact">Contact</a></li>
           </ul>
         </div>
         <div class="span-6">
           <h3>Find us</h3>
           <ul>
             <li><a href="https://github.com/railsonfire" target="blank">GitHub</a></li>
             <li><a href="https://twitter.com/railsonfire" target="_blank">Twitter</a></li>
             <li><a href="https://facebook.com/railsonfire" target="_blank">Facebook</a></li>
             <li><a href="https://www.linkedin.com/company/railsonfire" target="_blank">LinkedIn</a></li>
           </ul>
         </div>
       </div>
</div>
<script>
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '//hnbutton.appspot.com/static/hn.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
</script>
</body>
</html>